#sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 100%;
  background: #323a40;
}

#panel {
  position: absolute;
  top: 0px;
  left: 400px;
  width: calc(100% - 400px);
  height: 100%;
}

#top {
  width: 100%;
  height: calc(50% - 2px);
  border-bottom: 2px solid #c9c9c9;
}

#editor {
  width: 100%;
  height: 100%;
}

#history {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
}

#history-list {
  width: 280px;
  vertical-align: bottom;
  align-self: flex-end;
}

div.history-item {
  margin-top: 0px;
  margin-bottom: 8px;
}

#bottom {
  overflow-x: hidden;
  overflow-y: auto;
  height: 50%;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
    monospace;
  font-size: 14px;
  padding: 10px;
}

.sidebar-item {
  background: #353e48;
  color: #bfbfbf;
  padding: 10px;
  font-size: 18px;
}

#tree {
  background: #6e7885;
  overflow: hidden;
}

.jstree-default .jstree-clicked {
  background: #6e7885;
  font-weight: bold;
}

#time {
  font-family: "Segoe UI", Arial;
  z-index: 1;
  position: relative;
  float: right;
  top: -12px;
  right: -10px;
  width: 100px;
  background: #c9c9c9;
  padding: 5px 10px 5px 10px;
}

#tick {
  position: relative;
  z-index: 1;
  float: right;
  top: -7px;
  right: -5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #4a5957;
}
